* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
}

.gallery-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-info-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.33;
}
.gallery-info-value {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 2;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  width: 91px;
  height: 40px;
}
button[type="button"]{
  display: flex;
  margin: 0 auto;
}

button:hover {
  background-color: #6c8cff;
  cursor: pointer;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: none;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4e75ff;
}

.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #4e75ff #4e75ff transparent #4e75ff;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #4e75ff;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
